<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 minutes">
   <property name="LOGS_PATH" value="log"/>
   <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
       <encoder>
           <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
           </Pattern>
       </encoder>
       <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
           <level>TRACE</level>
       </filter>
   </appender>
   <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
       <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
           <!-- daily rollover -->
           <FileNamePattern>${LOGS_PATH}/reservationLog.%d{yyyy-MM-dd}.log</FileNamePattern>
           <!-- keep 30 days' worth of history -->
           <maxHistory>30</maxHistory>
       </rollingPolicy>
       <encoder>
           <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
       </encoder>
   </appender>
   <appender name="bicycleAppDailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
       <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
           <!-- daily rollover -->
           <FileNamePattern>${LOGS_PATH}/reservationAppLog.%d{yyyy-MM-dd}.log</FileNamePattern>
           <!-- keep 30 days' worth of history -->
           <maxHistory>30</maxHistory>
       </rollingPolicy>
       <encoder>
           <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
       </encoder>
   </appender>
   <logger name="bicycle.reservation" level="info">
       <appender-ref ref="bicycleAppDailyRollingFileAppender"/>
   </logger>
   <root>
       <level value="info"/>
       <appender-ref ref="consoleAppender"/>
   </root>
</configuration>